@model Project_test.Models.Category
@using Project_test.Models
@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>



<div>
    <hr />

    @if (Model.Products != null)
    {
        foreach (var product in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/@product.ImagePath" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: SEK @product.Price</p>
                        <a href="@Url.Action("Details", "Products", new { id = product.ID })" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        }
    }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
